@font-face {
    font-family: 'Futura Cyrillic Book';
    src: url('../fonts/FuturaCyrillicBook.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Futura Cyrillic';
    src: url('../fonts/FuturaCyrillicMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Cyrillic';
    src: url('../fonts/FuturaCyrillic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-black: #333333;
    --color-dark-black: #000000;
    --color-white: #FFFFFF;
    --color-darker-white: #E4E4E2;
    --color-grey: #949494;
    --color-line: #DBDBDB;
    --color-blue: #78C0DE;  
    --color-orange: #FFBD54;
    --color-lighter-white: #EBEBEB;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Futura Cyrillic", sans-serif;
    background-color: #78c0de16;
}

.container {
    width: 1310px;
    margin: 0 auto;
}

/* Header part started */


.site-header {
    background-color: #F9F8F8;
}
.header-top-wrapper {
    width: 1100px;
    padding: 11px 65px 9px 258px;
}

.header-location {
    margin-right: 60px;
}

.header-location > img {
    margin-right: 9px;
    vertical-align: middle;
}

.header-location > span {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

}

.header-phone  > img, span {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-black);
    vertical-align: middle;
    margin-right: 2px;
}

.header-phone  > img, span:hover {
    color: var(--color-orange);
}

.header-phone  > img, span:active {
    color: var(--color-black);
    opacity: .6;
}

.header-schedule > img, span {
    vertical-align: middle;
}

.last-phone > span {
    margin-right: 60px;
}

.header-schedule > img {
    margin-right: 7px;
}


.header-schedule >  span {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-right: 0;
    margin-right: 10px;
    color: var(--color-black);
}

.header-bottom-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border: 1px solid #F3F3F3 ;
    border-radius: 1px;
    padding-left: 65px;
}

.header-bottom-wrapper > a > img {
    position: absolute;
    left: 20px;
    top: -20px;
    bottom: 0;
}

.navbar {
    padding: 15px 60px 19px 300px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.navbar > ul {
    display: flex;
    gap: 55px;
    margin-left: 12px;
}

.navbar > ul > li > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-black);
}

.navbar > ul > li > a:hover {
    border-bottom: 2px solid yellow;
}

.navbar > ul > li > a:active {
    opacity: .6;
}

/* Header part Finished */

/* Hero section started */

.hero-section {
    padding: 145.77px 0 290px 700px;
    background-image: url(../images/pets-img.png), url(../images/bird-img.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 820px, 319px;
    background-position: calc(10% - 275px) calc(50% - 100px), calc(50% + 650px) calc(50% + 200px);
}


.hero-title-wrapper {
    width: 608px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.hero-title-wrapper > h2 {
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    letter-spacing: 0%;
    color: var(--color-black);
    margin-bottom: 29px;
}

.hero-title-wrapper > h2 > span {
    font-weight: 700;
    font-size: 70px;
    line-height: 64px;
    letter-spacing: 0%;
    color: var(--color-blue);
}

.hero-title-wrapper > p {
    width: 506px;  /* width: 495px togri kemaganiga kottalashtirdim */
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0%;
    color: var(--color-grey);
    margin-bottom: 38px;
}

.hero-title-wrapper > button {
    padding: 15px 48px 16px 47px;
    color: var(--color-white);
    background-color: var(--color-black);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.4s;
}

.hero-title-wrapper > button:hover {
    color: var(--color-dark-black);
    background-color: var(--color-orange);
} 

.hero-title-wrapper > button:active {
    opacity: .6;
}

/* Hero section finished */

/* About section started */
.about-section {
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
    width: 1134px;
}

.about-section {
    background-image: url("../images/double-quote-img.png"), url(../images/double-quote-2-img.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 80px, 80px;
    background-position: calc(50% - 500px) calc(50% - 60px), calc(50% + 500px) calc(50% + 60px);
}


.about-line {
    width: 140px;
    height: 2px;
    background-color: var(--color-line);
    display: inline-block;
    margin-bottom: 43px;
}

.bottom {
    margin: 0;
    margin: 35px 0;
}

.about-section > blockquote {
    width: 835px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-grey);
}

.about-section > p {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-black);
}       
/* About section finished */

/* Service section started */

.service-section {
    padding: 191px 0 127px;
}

.service-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.service-container > h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 80px;
    color: var(--color-black);
}

.service-card-wrapper > ul {
    display: flex;
    gap: 13px;
    text-align: center;
    margin-bottom: 14px;
}

.service-card-wrapper > ul > li {
    width: 124px;
    padding: 30px 32px 42px 35px;
    background-color: var(--color-white);
    border: 1px solid #F3F3F3;
    border-radius: 5px;    
    transition: all 0.3s;
}

.service-card-wrapper > ul > li:hover {
    opacity: .8;
}

.service-card-wrapper > ul > li:active {
    opacity: .6;
}

.service-card-wrapper > ul > li > img {
    margin-bottom: 21px;
}

.service-card-wrapper > ul > li > h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
}

.service-content-wrapper {
    padding: 42px 105px 43px 35px;
    display: flex;
    align-items: center;
    gap: 67px;
    background-color: var(--color-white);
}
.service-title-wrapper {
    width: 492px;
}

.service-title-wrapper > h3 {
    font-weight: 500;
    font-size: 36px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 18px;
    color: var(--color-black);
    margin-bottom: 18px;
}

.service-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--color-grey);
    margin-bottom: 9px;
}

.last-text {
    margin-bottom: 34px;
}


.price-btn {
    padding: 15px 36px 15px 35px;
    border: none;
    border-radius: 3px;
    color: var(--color-white);
    background-color: var(--color-orange);
    cursor: pointer;
    margin-right: 21px;
    transition: all 0.4s;
}

.price-btn > span {
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.price-btn > span > img, .bron-btn > span > img {
    color: var(--color-white);
    margin-right: 6.75px;
    vertical-align: middle;
}

.price-btn:hover {
    color: var(--color-orange);
    background-color: var(--color-dark-black);
}

.price-btn:active {
    opacity: .6;
}

.bron-btn {
    padding: 14px 37px 15px;
    border: none;
    border-radius: 3px;
    color: var(--color-white);
    background-color: var(--color-black);
    cursor: pointer;
    transition: all 0.4s;
}

.bron-btn:hover {
    color: var(--color-dark-black);
    background-color: var(--color-orange);
}

.bron-btn:active {
    opacity: .6;
}

.bron-btn > span {
    color: var(--color-white);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

/* Service section finished */


/* Notify section started */

.notify-section {
    padding: 136px 0 100px;
    position: relative;
}

.notify-section > img {
    position: absolute;
    top: 0;
    right: 0;
}


.notify-wrapprer {
    padding: 90px 0 88px 287px;
    background-color: var(--color-blue);
    background-image: url("../images/lapa-img.png"), url(../images/lapa-2-img.png);
    background-repeat: no-repeat;
    background-size: 126px 110px, 167px 147px;
    background-position: calc(50% - 680px) calc(50% - 1px), calc(20% - 120px) calc(50% + 70px) ;    
}

.notify-wrapprer > h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--color-white);
    margin-bottom: 32px;
}

.notify-form {
    display: flex;
    align-items: center;
}

.notify-form > input {
    padding: 18px 147px 12px 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    vertical-align: middle;
    border: none;
    border-radius: 5px;
    margin-right: 21px;
    outline: none;
}

.notify-form > input:focus {
    outline: 2px solid var(--color-orange);
}

.notify-form > button {
    padding: 15px 53px 14px 51px;
    color: var(--color-white);
    background-color: var(--color-black);
    border: none;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
    transition: all 0.4s;
}

.notify-form > button:hover {
    color: var(--color-dark-black);
    background-color: var(--color-orange);
}   

.notify-form > button:active {
    opacity: .6;
}

/* Notify section finished */


/* Articles section started */

.articles-section {
    padding: 151px 0 262px ;
}

.articles-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.articles-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.article-card {
    width: 305px;
    background-color: var(--color-white);
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden; 
    transition: all 0.4s;
}

.article-card:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.article-card:active {
    box-shadow: 0px 4px 4px 0px #00000040;

}

.article-image {
    width: 100%;
}
.article-content {
    padding: 21px 22px 35px 22px;
}
.article-date {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 2px;
    color: var(--color-grey);
    text-align: end;
}

.hashtags {
    margin-right: 7px;
    padding-top: 42px;
    color: var(--color-blue);
}

.new-date {
    margin-left: 45px;
    
}

.new-title {
    margin-top: 32px;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    letter-spacing: 0%;
    color: var(--color-black);
    margin-bottom: 15px;
}

.new-text {
    width: 283px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--color-grey);
    margin-bottom: 33px;
}

.article-title {
    width: 183px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0%;
    color: var(--color-dark-black);
    margin-bottom: 15px;
}

.article-text {
    width: 273px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--color-grey);
    margin-bottom: 34px;
}

.article-tag {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 500;
}

.tag-icon {
    width: 23px;
    height: 20px;
}

.middle-card {
    display: flex;
    width: 640px;
    background-color: var(--color-white);
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow: hidden
}

/* Articles section finshed */

/* Feedback section started */

.feedback-section {
    background-color: var(--color-dark-black);
    background-image: url(../images/gold-fish-img.png), url(../images/feedback-img.png), url(../images/Question.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 410px 410px, 171px 142px, 130px 82px;
    background-position: calc(50% + 540px) calc(50% + 50px), calc(50% + 440px) calc(50% - 250px), calc(50% + 600px) calc(50% - 300px);
     margin-bottom: 247px;
}

.location-part {
    display: flex;
}

.feedback-part {
    padding: 62px 0 74px 166px ;
}

.feedback-part > h2 {
    width: 381px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-white);
    margin-bottom: 14px;
}

.feedback-part > p {
    width: 382px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    color: var(--color-grey);
    margin-bottom: 29px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.feedback-form > input {
    padding: 16px 150px 13px 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--color-grey);
    outline: none;
}

.feedback-form > input:focus {
    outline: 2px solid var(--color-orange);
}

.feedback-form > textarea {
    padding: 17px 207px 127px 22px;
    height: 165px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: var(--color-grey);
    outline: none;
    margin-bottom: 30px;
}

.feedback-form > textarea:focus {
    outline: 2px solid var(--color-orange);
}

.feedback-form > button {
    width: 226px;
    padding: 15px 50px;
    border: none;
    color: var(--color-white);
    background-color: var(--color-orange);
    cursor: pointer;
}

.feedback-form > button:hover {
    color: var(--color-black);
    background-color: var(--color-white);
}

.feedback-form > button:active {
    opacity: .6;
}
/* Feedback section finished */

/* Site footer started */

.site-footer {
    padding: 54px 71px 23px 65px;
    background-color: var(--color-lighter-white);
}

.footer-top-wrapper {
    display: flex;
}

.footer-logo > a > img {
    margin-right: 67px;
}

.footer-nav > ul {
    width: 288px;
    display: grid;
    grid-template-areas: 
    "a b"
    ;
    column-gap: 87px;
    margin-right: 127px;
}

.footer-nav > ul > li {
    margin-bottom: 12px;
}

.footer-nav > ul > li > a {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-black);
}

.footer-nav > ul > li > a:hover {
    color: var(--color-orange);
}

.footer-nav > ul > li > a:active {
    color: var(--color-black);
    opacity: .7;    
}

.footer-schedule-link {
    display: block;
    text-align: end;
    width: 161px;
    margin-right: 112px;
}

.footer-schedule-link > img {
    margin-right: 14px;
    vertical-align: middle;
}

.footer-address {
    margin-right: 75px;
}

.footer-location > img {
    vertical-align: start;
    margin-right: 9px;
}

.footer-location > span {
    width: 135px;
    display: inline-block;
    text-align: start;
    
}

.footer-phone {
    display: flex;
}

.footer-phone > img {
    margin-right: 9px;
}

.footer-phone-number > a > span{
    margin-bottom: 4px;
}

.copyright {
    padding-left: 1050px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: var(--color-grey);
}

/* Site footer finished */

